*.log
wp-config.php
wp/soulshape.earth/wp-content/advanced-cache.php
wp/soulshape.earth/wp-content/backup-db/
wp/soulshape.earth/wp-content/backups/
wp/soulshape.earth/wp-content/blogs.dir/
wp/soulshape.earth/wp-content/cache/wp/soulshape.earth/
wp/soulshape.earth/wp-content/upgrade/
wp/soulshape.earth/wp-content/uploads/
wp/soulshape.earth/wp-content/wp-cache-config.php
wp/soulshape.earth/wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

